<div id="<%= idName %>-index">
  <h1><%= resourceNameHumanized %></h1>
  {{#link-to '<%= resourceNewRoute %>' classNames="btn btn-primary"}}<span class="glyphicon glyphicon-plus-sign"></span>Add New{{/link-to}}
  <table class="table table-striped table-hover">
    <thead>
      <tr><% resourceAttributes.forEach((a) => { %>
        <th><%- a.humanizedSingularName %></th><% }) %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each content as |model|}}
        <tr><% resourceAttributes.forEach((a) => { %>
          <th>{{model.<%- a.camelizedName %></th>}}<% }) %>
          <td>{{#link-to '<%= resourceShowRoute %>' model classNames="btn btn-primary"}}Show{{/link-to}}</td>
          <td><button {{action "delete" model}} class="btn btn-danger">Delete</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="100%">You have no records.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
